{{>layout/header}}

<div class="container">
  <br/><br/>
  <h2>Player List</h2>
  <hr/>
  <br/>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>no</th>
        <th>TeamName</th>
        <th>Position</th>
        <th>Name</th>
        <th>삭제하기</th>
      </tr>
    </thead>
    <tbody>
      {{#player}}
      <tr>
        <td>1</td>
        <td>{{teamName}}</td>
        <td>{{position}}</td>
        <td>{{name}}</td>
        <td><button id="delete_{{id}}" type="submit" class="btn btn-outline-dark mb-2">삭제하기</button></td>
      </tr>
      {{/player}}
    </tbody>
  </table>
  
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>포지션</th>
        <th>NC</th>
        <th>KIA</th>
        <th>KT</th>
      </tr>
    </thead>
    <tbody>
      {{#playerList}}
      <tr>
        <td>{{position}}</td>
        <td>{{nc}}</td>
        <td>{{kia}}</td>
        <td>{{kt}}</td>
      </tr>
      {{/playerList}}
    </tbody>
  </table>
</div>

<script src="/js/player.js"></script>
</body>
</html>
